/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */
body {
  background-color: #2B2733;
  margin: 0;
}

.header-title {
  background-color: #46424D;
  font-family: Montserrat, sans-serif;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

.new-activity-header {
  font-family: Montserrat, sans-serif;
  color: #FFF;
  margin-left: 35px;
  margin-top: 80px;
  font-size: 20px;
}

.category-header {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #FFF;

}

.new-activity {
  width: 75%;
  display: flex;
  flex-direction: column;
}

#study-icon {
  height: 35px;
  width: 35px;
}

.study {
  font-size: 17px;
  height: 75px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #FFFFFF;
  border: solid #FFFFFF;
  border-radius: 3px;
  border-width: 2px;
  padding: 8px 34px;
}

#meditate-icon {
  height: 35px;
  width: 35px;
}

.meditate{
  font-size: 17px;
  height: 75px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #FFFFFF;
  border: solid #FFFFFF;
  border-radius: 3px;
  border-width: 2px;
  padding: 8px 34px;
}

#exercise-icon {
  height: 35px;
  width: 35px;
}

.exercise {
  font-size: 17px;
  height: 75px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #FFFFFF;
  border: solid #FFFFFF;
  border-radius: 3px;
  border-width: 2px;
  padding: 8px 34px;
}

.category-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accomplish-question {
  font-size: 20px;
  margin-top: 45px;
  margin-bottom: 65px;
}

.accomplish-input {
  font-family: Montserrat, sans-serif;
  color: #FFFFFF;
}

#accomplish {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 45px;
}

.minutes-input {
  font-size: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Montserrat, sans-serif;
  color: #FFFFFF;
}

.seconds-input {
  font-size: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Montserrat, sans-serif;
  color: #FFFFFF;
}

.time-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#minutes {
  margin-top: 20px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

#seconds {
  margin-top: 20px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.start-activity {
  font-size: 20px;
  float: right;
  color: grey;
  background-color: #FFFFFF;
  border: none;
  border-radius: 3px;
  padding: 10px 25px;
}

.grey-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  border-radius: 3px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 35px;
  background-color: #46424D;
  padding: 25px 75px 50px 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.past-activities-header {
  margin-left: 35px;
  font-family: Montserrat, sans-serif;
  color: #FFFFFF;
  margin-top: 65px;
}

.past-activities-prompt {
  line-height: 30px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #FFFFFF;
}

.past-activities {
  width: 35%;
}

main {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

.grey-line {
  height: 100%;
  border-right: solid #46424D 3px;
  display: flex;
  align-items:
}
